<div class="comment">
  <h3>Comment</h3>

  <center><%= form_for comment do |f| %>
    <p>
      <%= f.text_area :body, class: "text-area" %>
    </p>

    <p>
      <%= f.submit 'Comment', class: 'submit-comment' %>
    </p>
  <% end %></center>
</div>