<!-- <ul class="navbar">
  <li><a class="active" href="#">Home</a></li>
  <li><a href="#comments-section">Comments</a></li>
  <li><a href="#contact">Modal</a></li>
  <li style="float:right"><a href="#about">About</a></li>
</ul> -->