<ul id=menu hidden>
  <li id="scroll1" class="main-menu">Main</li>
  <br>
  <br>
  <li id="scroll2" class="projects-menu">Projects</li>
  <br>
  <br>
  <li id="scroll3" class="skills-menu">Skills</li>
  <br>
  <br>
  <li id="scroll4" class="comments-menu">Comments</li>
</ul>