<center><h1 class="maven">Frontend Skillz</h1></center>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render partial: 'partials/comment', locals: {comment: comment} %>
  <% end %>
    <%= render partial: 'partials/form', locals: {comment: @comment} %>
</div>

<div id="skill-modal">
  
</div>

