<h1>Frontend Skillz</h1>

<div id="comments">
  <% @comments.reverse.each do |comment| %>
    <%= render partial: 'partials/comment', locals: {comment: comment} %>
  <% end %>
  <h3>Say something</h3>
    <%= render partial: 'partials/form', locals: {comment: @comment} %>
</div>