#comments {
  display: inline-block;
  width: 300px;
  margin: 20px;
  text-align: center;
}

.h2comments {
  font-family: 'Monda', sans-serif;
}

.maven {
  font-family: 'Maven Pro', sans-serif;
}

.comment {
  background-color: #eae8e8;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
}

.a-comment {
  margin-top: ;
  padding: 5px;
  background-color: #dddddd;
  border-radius: 5px;
  margin-bottom: 5px;
}

.comment-body {
  text-align: left;
  min-height: 76px;
  margin: 5px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  background-color: #efefef;
  word-wrap: break-word;
}

.float-left {
  position: absolute;
}

.upvote {
}

.downvote {
}

.points {
  color: #d1d1d1;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -1px;
  background-color: #4f4f4f;
}