#menu {
  position: fixed;
  right: 0;
  top: 25%;
  z-index: 1;
  list-style: none;
}

.slide {
  background-color: red;
  padding: 1px;
}

#menu > li {
  background-color: white;
  padding: 4px;
  border-radius: 5px;
}