#menu {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 999;
  list-style: none;
  font-size: 15px;
}

.merri {
  font-family: 'Merriweather Sans', sans-serif;
}

.slide {
  background-color: red;
  padding: 1px;
}

#menu > li {
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}

#menu > li:hover {
  text-shadow: 2px 1px black;
  color: #fff600;
  z-index: 999;
}