.header {
  background-color: blue;
  height: 500px;
}

.jchoo {
  border-radius: 48%;
  opacity: 0.9;
}

.jchoo:hover {
  box-shadow: 5px 5px 5px #636d13;
  opacity: 0.9;
}

.light-blue{
  color: #d0d9ea;
}

.ruda {
  font-family: 'Ruda', sans-serif;"
}

.homeSlide {
  border-bottom-width: 2px solid #f51c40;
}

.x {
  display: inline-block;
}

.m {
  font-family: 'Marcellus', serif;
}
/* CSS */
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;
}

.hsContent > h2 {
  font-size: 50px;
}

.hsContent > h3 {
  font-size: 30px;
}

.hsContent > h5 {
  font-size: 20px;
}

.hsContent {
    max-width: 450px;
    display: table-cell;
    vertical-align: bottom;
    color: #282828;
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}


.fs {
  background-color: #eaeaea;
  padding: 5px;
  color: #1e1e1e;
  border-radius: 5px;
  opacity: 0.7;
}

.fs:hover {
  background-color: #d6d171;
  border-radius: 5px;
  color: white;
  padding: 5px;
  opacity: 0.7;
  box-shadow: 5px 5px 5px #1c1110;;

}

.wd {
  background-color: #262626;
  border-radius: 5px;
  color: white;
  padding: 5px;
  opacity: 0.7;

}

.wd:hover {
  background-color: #d6d171;
  padding: 5px;
  color: black;
  border-radius: 5px;
  opacity: 0.7;
  box-shadow: 5px 5px 5px #1c1110;;

}


/* Slide 1 */
#slide-1 .bcg {
  height:100vh;
    width: 100%;
  background-image: url('road.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}


.center {
  text-align: center;
}

