.header {
  background-color: blue;
  height: 500px;
}

.jchoo {
  border-radius: 20px;
  opacity: 0.9;
  border: 9px solid #4F3B36;
}

.light-blue{
  color: #d0d9ea;
}

.ruda {
  font-family: 'Ruda', sans-serif;"
}

.homeSlide {
  border-bottom-width: 2px solid #f51c40;
}

/* CSS */
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;
}
.hsContent {
    max-width: 450px;
    display: table-cell;
    vertical-align: bottom;
    color: #282828;
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}


/* Slide 1 */
#slide-1 .bcg {
  height:100vh;
    width: 100%;
  background-image: url('road.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}


.center {
  text-align: center;
}

