.skill-img {
  height: 100px;
  width: 100px;
  border-radius: 18px;
  padding: 5px;
}

#proficient {
  padding-right: 50px;
  float: left;
  width: 50%;
  border-right: 1px solid #babfc4;
}

#exposure {
  float: right;
  width: 50%;
}

#skillz {
  background-color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 100px;
}

.skillsbg {
  background-color: white;
  display: inline-block;
  padding: 80px;
  width: 90%;
  box-shadow: 0px 30px 40px rgba(0,0,0,.1);

}

#proficient img {
  background-color: white;
}

#exposure img {
  background-color: white;
}

#exposure > div {
  border-radius: 5px;
  font-family: 'News Cycle', sans-serif;
  display: inline-block;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 5px;
  color: #bfbfbf;
}

#proficient > div {
  border-radius: 5px;
  font-family: 'News Cycle', sans-serif;
  display: inline-block;
  background-color: #f2f2f2;
  padding: 10px;
  color: #bfbfbf;
  margin: 5px;
}